header{
    width:100%;
    height: 50px;
    /*background-color: #000000;*/
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,0.8155637254901961) 81%, rgba(0,212,255,1) 100%);}
hr{
    color:#f64d27;
  
}
main{
    margin-top: 10px;
}
header #logo{
    text-align: center;
    padding-top:5px;
}

/*pai*/
#menu-lateral{
   
    width:159px;
    float: left;
    
}
/*filho*/
/*
nav{
   
  
}*/
/*neto*/

/*bisneto*/
nav ul li{   
    text-transform:uppercase;
    list-style-type: none;
    padding-left: 10px;
}
/*tataraneto*/
nav ul li a{
   
    text-decoration: none;
    color: #000000;
}
nav ul li a:hover{
   
    text-decoration: none;
    color:#090979;
    font-weight: bold;
}

#menu-lateral nav ul li{
    padding-top: 4px;
    font-size:6px;
}


#comandos{
    background-color:cornflowerblue;
}

#texto-rodape{
   margin-top: 10px;
   text-align: center;  
   background: rgb(2,0,36);
   background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,0.8155637254901961) 81%, rgba(0,212,255,1) 100%);   color:#ffffff;
   font-size:12px;
   height: 25px;
    
}

#area-principal{

     width:1010px;
     border:2px solid blue;
     height:500px;
     margin-left: 100px;
     
   
}

footer{
    margin-top: 10px;

    
}